@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #0c192c;
    justify-content: center;
    align-items: center;
    display: flex;
 }

 .caixa {
    position: relative;
    width: 400px;
    height: 400px;
    background: rgba(04, 03, 05,.5);
    border-radius: 50%;
}